.quote-box {
	text-align: center;
	color: red;
	margin: 50px;
}

.destination {
	display: inline-block;
}

.date {
	display: inline-block;
}

.results {
	text-align: center;
	width: 30%;
	margin: 0 auto;
}

.hotels {
	text-align: center;
	margin-top: 100px;
}

.form {
	text-align: center;
	margin-top: 100px;	
}